<p id="notice"><%= notice %></p>
<% if admin_signed_in?%>
<h1>Projetos</h1>

<table>
  <thead>
    <tr>
      <th>Project name</th>
      <th>Description</th>
      <th>Begin</th>
      <th>End</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projetos.each do |projeto| %>
      <tr>
        <td><%= projeto.project_name %></td>
        <td><%= projeto.description %></td>
        <td><%= projeto.begin.strftime("%d/%m/%y") %></td>
        <td><%= projeto.end.strftime("%d/%m/%y") %></td>
        <td><%= link_to 'Show', projeto %></td>
        <td><%= link_to 'Edit', edit_projeto_path(projeto) %></td>
        <td><%= link_to 'Destroy', projeto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Projeto', new_projeto_path %>



<% else %> <% if user_signed_in?%>
<h1>Projetos</h1>
<table>
  <thead>
    <tr>
      <th>Project name</th>
      <th>Description</th>
      <th>Begin</th>
      <th>End</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projetos.each do |projeto| %>
      <tr>
        <td><%= projeto.project_name %></td>
        <td><%= projeto.description %></td>
        <td><%= projeto.begin.strftime("%d/%m/%y") %></td>
        <td><%= projeto.end.strftime("%d/%m/%y") %></td>
        <td><%= link_to 'Show', projeto %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>



<% end %>
