<p id="notice"><%= notice %></p>
<% if admin_signed_in?%>
<p>
  <strong>Project name:</strong>
  <%= @projeto.project_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @projeto.description %>
</p>

<p>
  <strong>Begin:</strong>
  <%= @projeto.begin.strftime("%d/%m/%y") %>
</p>

<p>
  <strong>End:</strong>
  <%= @projeto.end.strftime("%d/%m/%y") %>
</p>

<%= link_to 'Edit', edit_projeto_path(@projeto) %> |
<%= link_to 'Back', projetos_path %>
<% else %> <% if user_signed_in?%>
<p>
  <strong>Project name:</strong>
  <%= @projeto.project_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @projeto.description %>
</p>

<p>
  <strong>Begin:</strong>
  <%= @projeto.begin.strftime("%d/%m/%y") %>
</p>

<p>
  <strong>End:</strong>
  <%= @projeto.end.strftime("%d/%m/%y") %>
</p>

<%= link_to 'Back', projetos_path %>
<%else%>
<%end%>
<%end%>