<% if admin_signed_in?%>

	<%= link_to 'Deslogar',  destroy_admin_session_path, method: :delete %>
	<br>
	<%= link_to 'Editar',  edit_profile_path(current_admin.id)%>
	<br>
	<%= link_to 'Destroy', admin_registration_path, method: :delete, data: { confirm: 'Are you sure?' } %>

	PORRRRRRRRRRRAAAAAAAAAAAA
<% else %>
<% end %>