<h2>Edit <%= resource_name.to_s.humanize %></h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :get }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <!-- <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: :true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :birth_date %><br />
    <%= f.date_field :birth_date, id: :user_birth_date , autofocus: :true, autocomplete: "user_birth_date" %>
  </div>

  <div class="field">
    <%= f.label :gender %><br />
    <%= f.text_field :gender, id: :user_gender, autofocus: :true, autocomplete: "user_gender" %>
  </div>

  <div class="field">
    <%= f.label :entry_date %><br />
    <%= f.date_field :entry_date, id: :user_entry_date, autofocus: :true, autocomplete: "user_entry_date" %>
  </div>

  <div class="field">
    <%= f.label :hire_date %><br />
    <%= f.date_field :hire_date, id: :user_hire_date , autofocus: :true, autocomplete: "user_hire_date" %>
  </div>

  <div class="field">
    <%= f.label :telegram %><br />
    <%= f.text_field :telegram, id: :user_telegram, autofocus: :true, autocomplete: "user_telegram" %>
  </div>

  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone, id: :user_phone, autofocus: :true, autocomplete: "user_phone" %>
  </div> -->

 

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
