<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

 <!--  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, id: :user_name %>
  </div>

  <div class="field">
    <%= f.label :birth_date %><br />
    <%= f.date_field :birth_date, id: :user_birth_date %>
  </div>

  <div class="field">
    <%= f.label :gender %><br />
    <%= f.text_field :gender, id: :user_gender %>
  </div>

  <div class="field">
    <%= f.label :entry_date %><br />
    <%= f.date_field :entry_date, id: :user_entry_date %>
  </div>

  <div class="field">
    <%= f.label :hire_date %><br />
    <%= f.date_field :hire_date, id: :user_hire_date %>
  </div>

  <div class="field">
    <%= f.label :telegram %><br />
    <%= f.text_field :telegram, id: :user_telegram %>
  </div>

  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone, id: :user_phone %>
  </div> --> 

  <div class="actions" >
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "users/shared/links" %>

