<p id="notice"><%= notice %></p>

<h1>Linha do tempo</h1>

<table>
<thead>
<tr>
<th>Project</th>
<th>Description</th>
<th>Date</th>
<th colspan="3"></th>
</tr>
</thead>

<tbody>
<% @timeline.each do |line| %>
	<tr>
	<td><%= line.project_name %></td>
    <td><%= line.description %></td>
    <td><%= line.begin.strftime("%d/%m/%y") %></td>
	</tr>
<% end %>
</tbody>
</table>