<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :name, id: :user_name %>
  </div>

  <div class="field">
    <%= form.label :birth_date %>
    <%= form.text_field :birth_date, id: :user_birth_date %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.text_field :gender, id: :user_gender %>
  </div>

  <div class="field">
    <%= form.label :entry_date %>
    <%= form.text_field :entry_date, id: :user_entry_date %>
  </div>

  <div class="field">
    <%= form.label :hire_date %>
    <%= form.text_field :hire_date, id: :user_hire_date %>
  </div>

  <div class="field">
    <%= form.label :telegram %>
    <%= form.text_field :telegram, id: :user_telegram %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :user_phone %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>