<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :avatar %>
    <%= form.file_field :avatar %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :occupation %>
    <%= form.text_field :occupation %>
  </div>

  <div class="field">
    <%= form.label :birth_date %>
    <%= form.date_field :birth_date %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%=select_tag :gender, options_for_select([ "Male", "Female", "Rather not to declare" ], "Rather not to declare")%>
    <%# form.text_field :gender %>
  </div>

  <div class="field">
    <%= form.label :entry_date %>
    <%= form.date_field :entry_date %>
  </div>

  <div class="field">
    <%= form.label :hire_date %>
    <%= form.date_field :hire_date %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.telephone_field :phone %>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
