<p id="notice"><%= notice %></p>

<p>
  <strong>Photo:</strong>
  <% if @profile.avatar_identifier.nil? %>
    deu ruim, sefudemo
  <% else %>
    <%= image_tag @profile.avatar.thumb.url %>
  <% end %>
  <%#image_tag(@profile.avatar.thumb.url) if @profile.avatar? %>
</p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @profile.occupation %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @profile.birth_date.strftime("%d/%m/%y") %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @profile.gender %>
</p>

<p>
  <strong>Entry date:</strong>
  <%= @profile.entry_date.strftime("%d/%m/%y") %>
</p>

<p>
  <strong>Hire date:</strong>
  <%= @profile.hire_date.strftime("%d/%m/%y") %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @profile.phone %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
