<p id="notice"><%= notice %></p>
<% if admin_signed_in?%>
<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>City:</strong>
  <%= @event.city %>
</p>

<p>
  <strong>Begin date:</strong>
  <%= @event.begin_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @event.end_date %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>

<% else %> <% if user_signed_in?%>
<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>City:</strong>
  <%= @event.city %>
</p>

<p>
  <strong>Begin date:</strong>
  <%= @event.begin_date.strftime("%d/%m/%y") %>
</p>

<p>
  <strong>End date:</strong>
  <%= @event.end_date.strftime("%d/%m/%y") %>
</p>

<%= link_to 'Back', events_path %>
<%else%>
<%end%>
<%end%>
