<%= form_with(model: fluxo, local: true) do |form| %>
  <% if fluxo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fluxo.errors.count, "error") %> prohibited this fluxo from being saved:</h2>

      <ul>
      <% fluxo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :money %>
    <%= form.text_field :money %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :user %>
    <%= form.text_field :user %>
  </div>

  <div class="field">
    <%= form.label :day %>
    <%= form.date_select :day %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
