<p id="notice"><%= notice %></p>
<% if admin_signed_in?%>
<h1>Fluxos</h1>

<table>
  <thead>
    <tr>
      <th>Money</th>
      <th>Description</th>
      <th>User</th>
      <th>Day</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fluxos.each do |fluxo| %>
      <tr>
        <td><%= fluxo.money %></td>
        <td><%= fluxo.description %></td>
        <td><%= fluxo.user %></td>
        <td><%= fluxo.day.strftime("%d/%m/%y") %></td>
        <td><%= link_to 'Show', fluxo %></td>
        <td><%= link_to 'Edit', edit_fluxo_path(fluxo) %></td>
        <td><%= link_to 'Destroy', fluxo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>
<br>
<section>
  <strong>Balanço:</strong>
  <span>R$ <%= @fluxos.sum(:money) %></span>
</section>
<br>

<%= link_to 'New Fluxo', new_fluxo_path %>

<% else %> <% if user_signed_in?%>
<h1>Fluxos</h1>

<table>
  <thead>
    <tr>
      <th>Money</th>
      <th>Description</th>
      <th>User</th>
      <th>Day</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fluxos.each do |fluxo| %>
      <tr>
        <td><%= fluxo.money %></td>
        <td><%= fluxo.description %></td>
        <td><%= fluxo.user %></td>
        <td><%= fluxo.day.strftime("%d/%m/%y") %></td>
        <td><%= link_to 'Show', fluxo %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>
<br>
<section>
  <strong>Balanço:</strong>
  <span>R$ <%= @fluxos.sum(:money) %></span>
</section>
<br>

<% else %> 
<% end %>
<% end %>