<p id="notice"><%= notice %></p>
<% if admin_signed_in?%>
<p>
  <strong>Money:</strong>
  <%= @fluxo.money %>
</p>

<p>
  <strong>Description:</strong>
  <%= @fluxo.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @fluxo.user %>
</p>

<p>
  <strong>Day:</strong>
  <%= @fluxo.day.strftime("%d/%m/%y") %>
</p>

<%= link_to 'Edit', edit_fluxo_path(@fluxo) %> |
<%= link_to 'Back', fluxos_path %>

<% else %> <% if user_signed_in?%>

<p>
  <strong>Money:</strong>
  <%= @fluxo.money %>
</p>

<p>
  <strong>Description:</strong>
  <%= @fluxo.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @fluxo.user %>
</p>

<p>
  <strong>Day:</strong>
  <%= @fluxo.day.strftime("%d/%m/%y") %>
</p>

<%= link_to 'Back', fluxos_path %>
<% else %>
<%end%>
<%end%>