<%= form_form @user, url:{action:"create"} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %>
    <%= f.text_field :name, id: :user_name %>
  </div>

  <div class="field">
    <%= f.label :birth_date %>
    <%= f.date_field :birth_date, id: :user_birth_date %>
  </div>

  <div class="field">
    <%= f.label :gender %>
    <%= f.text_field :gender, id: :user_gender %>
  </div>

  <div class="field">
    <%= f.label :entry_date %>
    <%= f.date_field :entry_date, id: :user_entry_date %>
  </div>

  <div class="field">
    <%= f.label :hire_date %>
    <%= f.date_field :hire_date, id: :user_hire_date %>
  </div>

  <div class="field">
    <%= f.label :telegram %>
    <%= f.text_field :telegram, id: :user_telegram %>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone, id: :user_phone %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


