<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 2 | Registration Page</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition register-page">
<div class="register-box">
  <div class="register-logo">
    <a href="../../index2.html">Admin_Members<b>GTi</b></a>
  </div>

  <div class="register-box-body">
    <p class="login-box-msg">Register a new membership</p>

    <!-- <form action="../../index.html" method="post"> -->
     <!--  <div class="form-group has-feedback">
        <input type="text" class="form-control" placeholder="Full name">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div> -->
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>  
      <p class="sign_in-box-msg">Email</p>
      <div class="form-group has-feedback">
       <!-- <input type="email" class="form-control" placeholder="Email"> -->
        <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control" %>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
       <p class="sign_in-box-msg">Password</p>
      <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
      <div class="form-group has-feedback">
        <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
        <p><span class="glyphicon glyphicon-lock form-control-feedback"></span></p>
      </div>
        <p class="sign_in-box-msg">Password Confirmation</p>
      <div class="form-group has-feedback">
        <!-- <input type="password" class="form-control" placeholder="Retype password"> -->
        <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control" %>
        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
      </div>
      <div class="row">
        <!-- <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox"> I agree to the <a href="#">terms</a>
            </label>
          </div>
        </div> -->
        <!-- /.col -->
        <div class="col-xs-16">
          <button type="submit" class="btn btn-primary btn-block btn-flat text-center">Register</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <!-- <div class="social-auth-links text-center">
      <p>- OR -</p>
      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign up using
        Facebook</a>
      <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign up using
        Google+</a>
    </div> -->
    <div class="col-xs-16">
    <a href="/users/sign_in" class="">I already have a membership</a>
    <div/>
  </div>
  <!-- /.form-box -->
</div>
<!-- /.register-box -->


 <%# javascript_include_tag 'application', 'data-turbolinks-track' => true % #%>
<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' /* optional */
    });
  });
</script>
<% end %>
</body>
</html>
